**/.idea/
*.log
*.DS_Store
**/logs
*.logs
logs/
*.class
**/bin/
*target*
*.ear
*.class

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
